#about {

  .about-wrapper {
    display: flex;
    justify-content: space-between;

    // on small screen
    @include respond-mediaQuery(ipad) {
      flex-flow: row wrap;
      justify-content: center;
    }

    .about-img,
    .about-text {
      flex: 1;

      @include respond-mediaQuery(ipad) {
        flex: initial;
      }
    }

    .about-img {
      margin: 0 6rem 4rem 0;

      // on phone
      @include respond-mediaQuery(phone) {
        display: none;
      }
    }

    .about-text {
      margin: 0 0 4rem;

      // on small screen
      @include respond-mediaQuery(ipad) {
        flex-flow: row wrap;
      }

      &__para {
        color: $color-secondary-light;
        line-height: 2.5rem;
        margin-bottom: 3rem;
      }

    }

  }

  // FOR ANIMATE ON SCROLL
  .about-wrapper {

    .about-img,
    .about-text {
      @include AOS-transition-transformCubicBezier-md;
    }

    .about-img {
      @include AOS-fade-left-md;
    }

    .about-text {
      @include AOS-fade-right-md;
    }

    &.visible .about-img,
    &.visible .about-text {
      @include AOS-fade-stop;
    }
  }
}