#blogs {
  .blogs--wrapper {
    display: flex;
    width: 100%;
    flex-flow: row wrap;

    // on small screen device: screen width <= ipad width
    @include respond-mediaQuery(ipad) {
      padding: 0 3rem;
    }

    .blog-box {
      display: flex;
      width: 50%;

      // on small screen device: screen width <= ipad width
      @include respond-mediaQuery(ipad) {
        width: 100%;
        border-bottom: 0.3rem solid $color-black-secondary;

        &:last-child {
          border-bottom: none;
        }
      }

      &__txt {
        width: 50%;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: space-around;
        background: $color-primary;
        padding: 4rem 3.5rem;
        color: $color-white-primary;

        &:hover {
          .blog-para {
            color: $color-white-primary;
          }

          .arrow-pointer .fa {
            font-size: 9rem;
          }

          .arrow-pointer--right {
            right: -4.2rem;
          }
        }

        .arrow-pointer {
          position: absolute;
          top: 50%;
          @include transform-xy-minus50percent;

          .fa {
            font-size: 7rem;
            color: $color-primary;
            @include transition-delay-sm;
          }
        }

        .arrow-pointer--left {
          left: -0.9rem;
        }

        .arrow-pointer--right {
          right: -3.5rem;
          @include transition-delay-sm;
        }

        .blog-note {
          color: $color-white-secondary;
        }

        .blog-title {
          position: relative;

          //margin-bottom: 4rem;
          &::before {
            content: "";
            position: absolute;
            width: 5rem;
            height: 0.3rem;
            background: $color-white-primary;
            bottom: -1rem;
          }
        }

        .blog-para {
          line-height: 2.3rem;
          color: $color-white-secondary;
          @include transition-delay-sm;
        }

        .blog-read-more {
          .fa {
            @include transition-delay-sm;
          }

          &:hover .fa {
            padding-left: 0.5rem;
          }
        }
      }

      &__img {
        width: 50%;

        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  // FOR ANIMATION ON SCROLL
  .blogs--wrapper {
    .blog-box {
      @include AOS-transition-transformCubicBezier-md;
    }

    .blog-box:nth-child(even) {
      @include AOS-fade-right-md;
    }

    .blog-box:nth-child(odd) {
      @include AOS-fade-left-md;
    }

    &.visible .blog-box {
      @include AOS-fade-stop;
    }
  }

}