#clients {
  border-bottom: 1px solid $color-grey;

  .client--wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;


    a.client {
      display: flex;
      @include box-shadow--primary;
      @include transition-delay-sm;
      background-color: $color-white-primary;
      width: 20rem;
      height: 11rem;
      margin: 1rem;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      padding: 4rem;
      cursor: no-drop;

      img {
        width: 100%;
      }
    }
  }

  // FOR ANIMATION ON SCROLL
  .client--wrapper {
    .client:nth-child(even) {
      @include AOS-fade-up-md;
      @include AOS-transition-transformCubicBezier-md;
    }

    .client:nth-child(odd) {
      @include AOS-fade-down-md;
      @include AOS-transition-transformCubicBezier-md;
    }

    &.visible .client {
      @include AOS-fade-stop;

    }
  }
}