#features {
  border-bottom: 1px solid $color-grey;

  .heading-tertiary {
    color: $color-secondary;
  }

  .features__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 6rem 0;
  }

  .feature-box {
    flex: 1;
    padding: 1.5rem;
    text-align: center;
    margin: 2rem 0;

    &__logo {
      @include transition-delay-md;
      display: inline-block;
      position: relative;
      margin-bottom: 3rem;
      height: 8rem;
      width: 8rem;

      &::before {
        @include transition-delay-md;
        content: "";
        border: 1px solid $color-secondary-light;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
      }

      .fa {
        font-size: 4rem;
        color: $color-primary;
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform-xy-minus50percent;
      }
    }

    &__heading {}

    &__para {
      color: $color-secondary-light;
      line-height: 2.5rem;
    }

    &:hover {
      .feature-box__logo::before {
        @include rotate-primary;
        border-color: $color-primary;

        .fa {
          @include rotate-secondary;
        }
      }

      .feature-box__heading {
        color: $color-primary;
      }

      .feature-box__para {
        color: $color-secondary;
      }
    }
  }

  // FOR ANIMATION ON SCROLL
  .features__wrapper {
    .feature-box {
      @include AOS-transition-transformCubicBezier-md;
    }

    .feature-box:nth-child(even) {
      @include AOS-fade-up-md;
    }

    .feature-box:nth-child(odd) {
      @include AOS-fade-down-md;
    }

    &.visible .feature-box {
      @include AOS-fade-stop;

    }
  }
}