#status {
  background-image: linear-gradient(rgba($color-black-primary, 0.7),
      rgba($color-black-primary, 0.7)),
    url(./../img/status.jpg);
  background-size: cover;
  background-position: center top;
  width: 100%;
  min-height: 44rem;
  position: relative;
  z-index: 10;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;

  .status-box-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    color: $color-white-secondary;
    padding: 4rem 0;

    // On mobile screen
    @include respond-mediaQuery(phone) {
      justify-content: space-around;
    }

    .status-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2rem;

      // On mobile screen
      @include respond-mediaQuery(phone) {
        width: 45%;
        margin-bottom: 2rem;
      }

      &__icon {
        min-height: 8rem;
        min-width: 8rem;
        @include border-radius-50percent;
        position: relative;
        z-index: 10;
        border: 1px solid $color-white-secondary;
        padding: 2rem;
        margin-bottom: 4rem;

        .fa {
          @include transform-xy-minus50percent;
          color: $color-white-secondary;
          position: absolute;
          z-index: 20;
          top: 50%;
          left: 50%;
          font-size: 2.5rem;
        }
      }

      &__count {
        margin-bottom: 0.5rem;
      }

      &__title {
        color: $color-grey;
      }
    }
  }

  // FOR ANIMATION ON-SCROLL
  .status-box-wrapper {
    @include AOS-fade-up-md;
    @include AOS-transition-transformCubicBezier-md;

    &.visible {
      @include AOS-fade-stop;
    }
  }
}