#teams {
  position: relative;
  z-index: 10;
  background-image: linear-gradient(rgba($color-black-primary, 0.8),
      rgba($color-black-primary, 0.8)),
    url(./../img/team/bg-team.jpg);
  background-size: cover;
  background-position: center top;
  width: 100%;
  min-height: 44rem;
  position: relative;
  z-index: 10;
  background-attachment: fixed;

  .teams--header {
    .heading-secondary--team {
      color: $color-white-primary;
    }

    .para-primary {
      color: $color-white-secondary;
    }
  }

  // EOF teams--header

  .teams--wrapper {
    padding: 0 3rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 6.5rem;

    .team {
      background: rgba($color-white-primary, 0.92);
      padding: 4rem;
      display: none;
      width: 20%;
      margin: 0 1rem 2.5rem;
      text-align: center;
      display: none;
      @include box-shadow--secondary;
      @include skew-x-neg-12deg;

      &.team-visible {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-between;
      }

      &:hover {
        .team__image {

          img,
          &::before {
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;
          }
        }
      }

      &__image {
        margin-bottom: 3.5rem;
        height: 15rem;
        width: 15rem;
        position: relative;
        z-index: 17;
        z-index: 18;
        @include skew-x-poz-12deg;


        &::before {
          position: absolute;
          content: "";
          z-index: 15;
          height: 100%;
          width: 100%;
          background-color: $color-white-primary;
          opacity: 0.7;
          transform: scale(1.1);
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -ms-transform: scale(1.1);
          -o-transform: scale(1.1);
          @include transition-delay-sm;
          @include border-radius-50percent;
        }

        img {
          width: 100%;
          height: 100%;
          @include transition-delay-sm;
          @include border-radius-50percent;
          position: relative;
          z-index: 17;
        }
      }

      &__name {
        @include skew-x-poz-12deg;
      }

      &__position {
        margin-bottom: 2rem;
        @include skew-x-poz-12deg;
      }

      &__contact {
        margin-bottom: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        @include skew-x-poz-12deg;

        .fa {
          color: $color-primary;
          font-size: 2rem;
          margin: 0 0.8rem;
          cursor: pointer;
          @include transition-delay-sm;

          &:hover {
            margin-top: -0.5rem;

          }
        }
      }

      // on small screen device: screen width <= ipad width
      @include respond-mediaQuery(ipad) {
        width: 40%;
        @include skew-none;

        &__position,
        &__name,
        &__image,
        &__contact {
          @include skew-none;
        }

      }

    }
  }

  .team--load-more {
    text-align: center;
    text-transform: uppercase;

    .link-other-team {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      color: $color-white-primary;
      cursor: pointer;
      margin: 0 auto;
      border: none;
      background: transparent;
      text-transform: uppercase;
      outline: none;
      @include transition-delay-sm;

      &:hover {
        color: $color-primary;
      }

      .fa {
        background: none;
        border: none;
        color: $color-primary;
        font-size: 3rem;
      }
    }
  }

  //FOR ANIMATION ON SCROLL 
  .teams--wrapper {

    @include AOS-fade-up-md;
    @include AOS-transition-transformCubicBezier-md;

    &.visible {
      @include AOS-fade-stop;
    }
  }
}