#recent-work {
  .recent-work--header {
    .work-filter-nav {
      margin-bottom: 5rem;
      display: flex;
      flex: 1;
      justify-content: center;

      &__item {
        .btn-filter {
          text-transform: uppercase;
          font-size: 1.4rem;
          padding: 0.5rem 1.5rem;
          color: $color-secondary-light;
          border: none;
          background: inherit;
          cursor: pointer;
          outline: none;

          &:hover {
            color: $color-primary;
          }
        }

        .btn-active {
          color: $color-primary;

        }
      }
    }
  }

  .recent-work--gallery {
    width: 100%;
    display: none;
    flex-flow: row wrap;
    justify-content: center;
    display: flex;


    .gallery-itme {
      position: relative;
      z-index: 1;
      overflow: hidden;
      cursor: pointer;

      height: 0;
      width: 0;
      @include AOS-scale-out-sm;
      @include AOS-transition-transformCubicBezier-md;

      &:hover {
        .gallery-item__overlay {
          opacity: 1;

          .overlay-info {
            bottom: 4rem;
          }
        }
      }
    }

    .work-visible {
      display: block;
      @include AOS-scale-stop;
      width: 25%;
      height: auto;
    }

    .gallery-item__img {
      height: 30rem !important;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        vertical-align: text-bottom;
      }
    }

    .gallery-item__overlay {
      position: absolute;
      top: 3%;
      left: 3%;
      background: linear-gradient(rgba($color-primary, 0.9),
          rgba($color-primary, 0.9));
      height: 94%;
      width: 94%;
      z-index: 2;
      padding: 4rem;
      box-sizing: border-box;
      opacity: 0;
      @include transition-delay-md;

      .overlay-info {
        position: absolute;
        bottom: 1rem;
        @include transition-delay-md;
      }

      .overlay-info--title {
        color: $color-white-primary;
        margin-bottom: 1rem;
      }

      .overlay-info--section {
        font-size: 1.3rem;
        color: $color-white-primary;
      }
    }
  }
}

// POPUP GALLERY 
#selected-work-popup-box {
  position: fixed;
  z-index: 200;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba($color-white-secondary, 0.9);
  //display: none;
  @include AOS-scale-out-sm;
  @include transition-delay-sm;
  opacity: 0;

  &.visible-popup-box {
    //display: block;
    @include AOS-scale-stop;
    opacity: 1;

  }

  .selected-work {
    position: absolute;
    z-index: 300;
    left: 50%;
    top: 50%;
    width: 40%;
    background-color: $color-white-primary;
    padding: 5rem;
    @include transform-xy-minus50percent;
    @include box-shadow--primary;

    &__title {
      margin-bottom: 2.5rem;
      font-size: 2.3rem;
      color: $color-black-secondary;
    }

    &__para {
      line-height: 2.5rem;
      font-size: 1.7rem;
      margin-bottom: 3rem;
      color: $color-secondary;
    }

    &__image {
      width: 100%;

      img {
        width: 100%;
      }
    }

    .close-popup-box {
      position: absolute;
      z-index: 400;
      font-size: 3rem;
      cursor: pointer;
      right: 3.1rem;
      top: 3.1rem;


      &:hover {
        opacity: 0.85;
      }
    }
  }
}